<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <databaseConnection type="remote">
    <server></server>
    <database>virtual_receptionist</database>
    <username></username>
    <password></password>
    <port>3306</port>
    <SslMode>None</SslMode>
    </databaseConnection>
  <databaseConnection type="local">
    <server>127.0.0.1</server>
    <database>virtual_receptionist</database>
    <username>root</username>
    <password></password>
    <port>3306</port>
    <SslMode>None</SslMode>
  </databaseConnection>
</configuration>
